<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Experince Login Page</title>
    <link rel="stylesheet" href="/frontPage.css">
    <script src="/frontPageScript.js" defer></script>
</head>
<body>
    <form action="/typingTestMain" method = 'GET' id="manPageRedirectForm">
        <button type="button" class="start-button" id="start-button">Play!</button>
    </form>
    
</body>
</html>